@inherits LayoutComponentBase

<header class="top-header">
    <div class="container">
        <h1 class="ag-lix-title">A G L I X</h1>
    </div>
</header>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
