@inherits LayoutComponentBase

<link href="css/styles/MainLayout.css" rel="stylesheet" />

<div style="display: flex; flex-direction: column; height: 100vh;">
    <RadzenHeader Style="background-color: #343a40; color: #ffffff; padding: 20px; text-align: center; height: 80px; flex-shrink: 0;">
        <RadzenText Text="A G L I X" Style="color: slategrey; font-size: 50px; font-weight: bold; text-align: center" />
    </RadzenHeader>

    <div style="display: flex; flex: 1; overflow: hidden;">
        <div style="flex: 0 0 250px; overflow-y: auto;">
            <NavMenu />
        </div>
        <div style="flex: 1; padding: 20px; overflow-y: auto;">
            @Body
        </div>
    </div>
</div>
