@page "/agile"
@using AglixFrontend.Models
@inject HttpClient Http

<h3>Agile Overview</h3>

<ul>
    @if (agiles == null)
    {
        <li>Loading...</li>
    }
    else
    {
        @foreach (var agile in agiles)
        {
            <li>@agile.Name: @agile.Description</li>
        }
    }
</ul>

@code {
    private IEnumerable<Agile> agiles;

    protected override async Task OnInitializedAsync()
    {
        agiles = await Http.GetFromJsonAsync<IEnumerable<Agile>>("https://localhost:7060/api/agile");
    }
}
