@page "/agile-overview"

<link href="css/styles/AgileOverview.css" rel="stylesheet" />

<RadzenPanel class="panel-background">
    <div class="panel-content">
        <RadzenRow>
            @if (agileImplementations != null)
            {
                @foreach (var implementation in agileImplementations)
                {
                    <RadzenColumn Size="3">
                        <RadzenCard class="card-container" @onclick="() => NavigateToImplementation(implementation.Name)">
                            <div>
                                <img src="@implementation.ImageUrl" alt="@implementation.Name" class="card-image" />
                                <h5>@implementation.Name</h5>
                            </div>
                        </RadzenCard>
                    </RadzenColumn>
                }
            }
            else
            {
                <p class="loading-text">Loading...</p>
            }
        </RadzenRow>
    </div>
</RadzenPanel>
