@page "/guide"

<link href="css/styles/Guide.css" rel="stylesheet" />

<RadzenPanel class="panel-background">
    <div class="panel-content">
        <RadzenRow>
            @if (agileTopics != null)
            {
                @foreach (var agile in agileTopics)
                {
                    <RadzenColumn Size="3">
                        <RadzenCard class="card-container" @onclick="() => NavigateToOverview(agile.Name)">
                            <div>
                                <img src="@agile.ImageUrl" alt="@agile.Name" class="card-image" />
                                <h5>@agile.Name</h5>
                            </div>
                        </RadzenCard>
                    </RadzenColumn>
                }
            }
            else
            {
                <p class="loading-text">Loading...</p>
            }
        </RadzenRow>
    </div>
</RadzenPanel>
