@page "/home"

<link href="css/styles/Home.css" rel="stylesheet" />

<RadzenContent>
    <div class="content-area">
        <RadzenCard class="radzen-card">
            <RadzenHeading Size="H1" Text="Welkom bij AGLIX" class="radzen-heading" />
            <RadzenParagraph class="radzen-paragraph">
                Deze applicatie is ontworpen om je te helpen bij het identificeren en implementeren van methodologieën die je organisatie kunnen transformeren naar een high-performance entiteit.
            </RadzenParagraph>
            <RadzenParagraph class="radzen-paragraph">
                Verken de methodologieën of beheer organisaties om aan de slag te gaan.
            </RadzenParagraph>
        </RadzenCard>
    </div>
</RadzenContent>
