@page "/"
@inject IJSRuntime JS

<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="content-area">
        <h2>Welkom bij AGLIX</h2>
        <p>Deze applicatie is ontworpen om je te helpen bij het identificeren en implementeren van methodologieën die je organisatie kunnen transformeren naar een high-performance entiteit. Verken de methodologieën of beheer organisaties om aan de slag te gaan.</p>
    </div>
</main>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "document.querySelector('.content-area').classList.add('loaded');");
        }
    }
}
