@page "/scrum-overview"

<link href="css/styles/ScrumOverview.css" rel="stylesheet" />

<RadzenPanel Style="background-color: #1e1e1e; height: 100vh;">
    <div class="content-area">
        <RadzenHeading Size="H1" Text="Scrum Overview" />
        <RadzenParagraph>
            Welcome to the Scrum Overview page. Here we will explain the Scrum framework in detail.
        </RadzenParagraph>
    </div>
</RadzenPanel>
